<div id="dashboard-options">
    <ul>
        <li>
            <div class="outer">
                <div class="bg">
                    <div class="inner">
                        <img src="media/images/tab/organisation.png">
                        <a href="organisation.php?opunit=%opunit%">Organisation</a>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="outer">
                <div class="bg">
                    <div class="inner">
                        <img src="media/images/tab/competences.png">
                        <a href="competences.php?opunit=%opunit%">Competences</a>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="outer">
                <div class="bg">
                    <div class="inner">
                        <img src="media/images/tab/metrics.png">
                        <a href="metrics.php?opunit=%opunit%">Metrics</a>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="outer">
                <div class="bg">
                    <div class="inner">
                        <img src="media/images/tab/buckets.png">
                        <a href="buckets.php?opunit=%opunit%">Buckets</a>
                    </div>
                </div>
            </div>
        </li>
        <!--
        <li>
            <div class="outer">
                <div class="bg">
                    <div class="inner">
                        <img src="media/images/tab/buckets.png">
                        <a href="/panel/hrafspraken/index.php?opunit=%opunit%">HR Afspraken</a>
                    </div>
                </div>
            </div>
        </li>
        -->
        <li>
            <div class="outer">
                <div class="bg">
                    <div class="inner">
                        <img src="media/images/tab/upload.png">
                        <a href="data.php?opunit=%opunit%">Upload data Org</a>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="outer">
                <div class="bg">
                    <div class="inner">
                        <img src="media/images/tab/upload.png">
                        <a href="data_upload_month.php?opunit=%opunit%">Upload data Month</a>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="outer">
                <div class="bg">
                    <div class="inner">
                        <img src="media/images/tab/upload.png">
                        <a href="data.php?opunit=%opunit%">Upload data Week</a>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="outer">
                <div class="bg">
                    <div class="inner">
                        <img src="media/images/tab/controlpanel.png">
                        <a href="data.php?opunit=%opunit%">Control Panel Month</a>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="outer">
                <div class="bg">
                    <div class="inner">
                        <img src="media/images/tab/controlpanel.png">
                        <a href="data.php?opunit=%opunit%">Control Panel Week</a>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="outer">
                <div class="bg">
                    <div class="inner">
                        <img src="media/images/tab/calculations.png">
                        <a href="calculations.php?opunit=%opunit%">Calculations Month</a>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="outer">
                <div class="bg">
                    <div class="inner">
                        <img src="media/images/tab/calculations.png">
                        <a href="calculations.php?opunit=%opunit%">Calculations Week</a>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="outer">
                <div class="bg">
                    <div class="inner">
                        <img src="media/images/tab/export.png">
                        <a href="data.php?opunit=%opunit%">Export to PowerBi</a>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
